<!--
The purpose of this file is to collect user input for BMDS.
Data flow:
After the data collected it was send to ./project/static/bmd/js/modeling.js.
And modeling.js submitted with $.post.

Some of the variables are provided by .\project\bmd\views.py
===========================
    During the communication between the HAWC web site and a Windows server, multiple models can be sent at the same time.
In the current testing event, two models were sent to the windows server at Amazon Web Services, and the model .(D) files were sent in Json serial text. $.ajax() function of jQuery was used to submit. In contrast to $.post() function, $ajax() has more control, e.g. submitting and receiving data type.
	After the Windows server received the post, some characters in the json text serial was modified, e.g. double quotation (“) was changed to %22, and ({) was changed to %7B. A PHP function was created to change the characters back. The json text serial is then converted into PHP array. The .(D) file was saved to a file. More than one .(D) files could be sent in one post, therefore, each .(D) file are saved with different file names. A serial number is generated and saved on the Windows server, so the file name will look like dfile-25.(d), and the numeric portion will range from 0 – 1000. PHP program will execute a shell command to run BMDS. All the .(D) files and the resulting files (.OUT files) are kept in ./Temp_BMDS_files/ folder, and they will be deleted when it is more than 24 hours old in current setting.
	The resulting files are all in the same folder as the .(D) file in ./Temp_BMDS_files/ folder. These files are sent back to HAWC site in json format, which is decoded in JavaScript with the function var obj = JSON.parse(data). The results of decoding is now a JavaScript array, and the .OUT file can be accessed in commands similar to obj.models[0].OUT_file_str.toString().
    In order for $.ajax() post to work, Cross-Site Request Forgery (CSRF) affect post function. 
The setup of CSRF is in ./project/static/js/hawc.js lines 294-322. 

	Similarly, a line in remote PHP file is required to allow post access in Amazon Web Services:
header("Access-Control-Allow-Origin: *");
    For HAWC site, the changes are embedded in the ./project/templates/bmd/bmd_session_form.html, and /Local_PC_testing_files/Susan_helped_POST.html is for POST testing. The Windows server file is /Windows_server/BMDS_execution.php.  


-->



{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{endpoint.study}} | {{endpoint}} | Edit BMD Modeling | HAWC
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $("p").hide();
    });
});
</script>

{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'study:detail' endpoint.animal_group.experiment.study.pk %}">{{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:experiment_detail' endpoint.animal_group.experiment.pk %}">{{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:animal_group_detail' endpoint.animal_group.pk %}">{{endpoint.animal_group}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:endpoint_detail' endpoint.pk %}">{{endpoint}}</a><span class="divider">/</span></li>
    {% if endpoint.bmds_session_exists %}
    <li><a href="{% url 'bmd:read' endpoint.pk %}">BMD Modeling</a><span class="divider">/</span></li>
    <li class="active">Edit<span class="divider">/</span></li>
  {% else %}
    <li class="active">BMD Modeling Create<span class="divider">/</span></li>
  {% endif %}
{% endblock %}



{% block content %}


  {% if crud == 'Edit' %}
    <div id="warnings">
      {% if endpoint.last_updated >= object.last_updated %}
        <div class="alert alert-danger ">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Warning!</h4>
          Endpoint content has been changed since the BMD session was last completed. Please review BMD model selections and re-save to remove this message.
        </div>
      {% endif %}
    <div>
  {% endif %}







  <!-- Tabs at the top -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#bmd_setup">BMD Setup</a></li>
    <li><a id="bmd_results_tab" href="#bmd_results">Modeling Results</a></li>
    <li><a id="bmd_logic_tab" href="#bmd_logic">Recommendations</a></li>
  </ul>

  <!-- Tabbed content-area -->
  <div class="tab-content">

    <!-- BMD setup -->
    <div id="bmd_setup" class="tab-pane active">

      <h3>Dose-Response Details</h3>
      <div class="row-fluid">

        <div id="bmd_ds" class="span7">
          <table id="bmd_dr_tbl" class="table table-condensed table-striped">
          </table>
        </div>

        <div id='bmd_ds_plot' class="d3_container span4">
        </div>
      </div>

      <h3>BMDS Modeling Setup</h3>
      <p><i>HAWC BMDS version {{bmds_version}}</i></p>
      <div id="bmd_setup_div" class="row-fluid">

        <div id="bmd_setup_div_opt" class="span6">
          <h4>Model Options</h4>

          <table id="bmd_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th width="30%">Model Name</th>
                <th width="60%">Non-Default Settings</th>
                <th width="10%">Modify</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New Option File</label>
                <div class="controls">
                  <select id="bmds_options_select"></select>
                  <a class="btn" href="#" id="bmds_options_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>
          {% if endpoint.data_type = "C"%}<a id='variance_toggle' class='btn btn-small' title='Change the variance model for all continuous models' href='#'>Toggle all Variance Models</a>{% endif %}
        </div>

        <div id="bmd_setup_div_bmr" class="span6">
          <h4>BMRs to Model</h4>
          <table id="bmr_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Value</th>
                <th>Confidence Level</th>
                <th width="10%">Modify</th>
              </tr>
            <thead>
            <tfoot>
              <tr>
                <td colspan=5>All models will be run using the selected BMRs if appropriate for that particular model type.</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New BMR</label>
                <div class="controls">
                  <select id="bmr_select"></select>
                  <a class="btn" href="#" id="bmr_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>






<!-- RUN BMDS in remote server -->


<div id="show_content">  
<br>Here is from Python: {{Test}} 
<br>Then to a PC server:
</div>

<button id="BMDS_run_diverge" class="btn btn-large btn-primary">Test Run BMDS</button>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){



var submittion_str = {
    "options": {
        "bmds_version": "2.60", 
        "generate_emf": true,  
    },
    "runs": [{"id":31, "model_app_name":"logist",
	"dfile":"LogLogistic\nBMDS_Model_Run\nLogLogistic.(D)\nLogLogistic.out\n5\n250 1e-08 1e-08 0 1 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 0 20\n50.000000 0 20\n150.000000 3 17\n250.000000 6 14\n350.000000 6 14\n"
	},
	{"id":32, "model_app_name":"multistage",
	"dfile":"Multistage\nBMDS MODEL RUN\nMultistage_test.(D) \nMultistage_test.OUT \n4 \n2 \n 250 2.22045e-16 1.49012e-8 1 1 0 1 1\n0.10 0 0.95\n-9999 -9999 -9999 ...\n0\n-9999 -9999 -9999 ...\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	},
    {"id":33, "model_app_name":"exponential",
	"dfile":"Exponential\nDefault settings but downward adversity\nExponential_test.(D)\nExponential_test.OUT\n1 5 -1 1111 14 0 1\n500 1.00E-08 1.00E-08 0 1 1 0\n0.10 0 0.95\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\nDOSE N MEAN STD\n0 20 6 1.2\n25 20 5.2 1.1\n50 19 2.4 0.81\n100 20 1.1 0.74\n200 20 0.75 0.66\n"
	},
    {"id":34, "model_app_name":"gamma",
	"dfile":"Gamma\nBMDS MODEL RUN\nGamma_test.(D)\nGamma_test.OUT\n4\n250 2.22045e-16 1.49012e-8 1 1 1 1 0\n0.10 0 0.95\n-9999 -9999 -9999 ...\n0\n-9999 -9999 -9999 ...\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	},
    {"id":35, "model_app_name":"hill",
	"dfile":"Hill\nBMDS Model Run\nHill.(D)\nHill.OUT\n1 4 0\n500 0.00000001 0.00000001 0 1 1 0 0\n2 0.05 0 0.95\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\nDose N MeanBW SDBW\n0 37 43.85 2.69\n0.1 35 43.51 2.86\n0.5 43 40.04 3\n1.1 42 35.09 2.56\n"
	},
    {"id":36, "model_app_name":"ms_combo",
	"dfile":"MS_Combo\nBMDS_Model_Run\nMS_Combo.(D)\n3\n5 2 Dichotomous.dax\n500 1.00E-08 1.00E-08 0 1 1 0 0\n0.01 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Effect NEGATIVE_RESPONSE\n0 0 100\n50 5 95\n100 30 70\n150 65 35\n200 90 10\n5 2 Dichotomous.dax\n500 1.00E-08 1.00E-08 0 1 1 0 0\n0.01 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Effect2 NEGATIVE_RESPONSE\n0 5 95\n50 10 90\n100 33 67\n150 67 33\n200 93 7\n5 2 Dichotomous.dax\n500 1.00E-08 1.00E-08 0 1 1 0 0\n0.01 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Effect3 NEGATIVE_RESPONSE\n0 1 99\n50 68 32\n100 78 22\n150 88 12\n200 98 2\n"
	},
    {"id":37, "model_app_name":"nctr",
	"dfile":"NCTR\nBMDS MODEL RUN\nNCTR.(D)\nNCTR.out\n39 4\n500 1.00E-08 1.00E-08 0 1 1 0 0 0\n0.1000 0 0.95 1000 0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\nDose Resp Negative_Resp Covariate Column 5\n0 1 15 16 -9999\n0 1 8 9 -9999\n0 2 13 15 -9999\n0 3 11 14 -9999\n0 3 10 13 -9999\n0 0 9 9 -9999\n0 2 8 10 -9999\n0 2 12 14 -9999\n0 1 9 10 -9999\n0 2 9 11 -9999\n25 4 10 14 -9999\n25 5 4 9 -9999\n25 6 8 14 -9999\n25 2 7 9 -9999\n25 6 7 13 -9999\n25 3 9 12 -9999\n25 1 9 10 -9999\n25 2 8 10 -9999\n25 4 7 11 -9999\n25 3 11 14 -9999\n50 4 7 11 -9999\n50 5 6 11 -9999\n50 5 9 14 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 6 9 15 -9999\n50 2 5 7 -9999\n50 4 10 14 -9999\n100 6 5 11 -9999\n100 6 8 14 -9999\n100 8 4 12 -9999\n100 7 6 13 -9999\n100 8 4 12 -9999\n100 6 8 14 -9999\n100 6 5 11 -9999\n100 5 3 8 -9999\n100 4 6 10 -9999\n"
	},
    {"id":38, "model_app_name":"nlogistic",
	"dfile":"Nlogistic\nBMDS MODEL RUN\nNlogistic.(D)\nNlogistic.OUT\n39 4\n500 1.00E-08 1.00E-08 1 0 1 1 0 0\n0.1000 0 0.95 1000 0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\nDose Resp Negative_Response Covariate Column 5\n0 1 15 16 -9999\n0 1 8 9 -9999\n0 2 13 15 -9999\n0 3 11 14 -9999\n0 3 10 13 -9999\n0 0 9 9 -9999\n0 2 8 10 -9999\n0 2 12 14 -9999\n0 1 9 10 -9999\n0 2 9 11 -9999\n25 4 10 14 -9999\n25 5 4 9 -9999\n25 6 8 14 -9999\n25 2 7 9 -9999\n25 6 7 13 -9999\n25 3 9 12 -9999\n25 1 9 10 -9999\n25 2 8 10 -9999\n25 4 7 11 -9999\n25 3 11 14 -9999\n50 4 7 11 -9999\n50 5 6 11 -9999\n50 5 9 14 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 6 9 15 -9999\n50 2 5 7 -9999\n50 4 10 14 -9999\n100 6 5 11 -9999\n100 6 8 14 -9999\n100 8 4 12 -9999\n100 7 6 13 -9999\n100 8 4 12 -9999\n100 6 8 14 -9999\n100 6 5 11 -9999\n100 5 3 8 -9999\n100 4 6 10 -9999\n"
	},
    {"id":39, "model_app_name":"logist",
	"dfile":"LogLogistic\nBMDS_Model_Run\ntest\noutput.out\n5\n250 1e-08 1e-08 0 1 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 0 20\n50.000000 0 20\n150.000000 3 17\n250.000000 6 14\n350.000000 6 14\n"
	},
    {"id":40, "model_app_name":"power",
	"dfile":"Power\nBMDS Model Run\nPower.(D)\nPoser.OUT\n1 4 0\n500 0.00000001 0.00000001 0 1 1 0 0\n2 0.05 0 0.95\n-9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999\nDose N MeanBW SDBW\n0 37 43.85 2.69\n0.1 35 43.51 2.86\n0.5 43 40.04 3\n1.1 42 35.09 2.56\n"
	},
    {"id":41, "model_app_name":"poly",
	"dfile":"Polynomial\nBMDS Model Run\nPoly.(D)\nPoly.OUT\n3\n1 4 0\n500 0.00000001 0.00000001 0 -1 1 0 0\n2 0.05 0 0.95\n-9999 -9999 -9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999 -9999\nDose N MeanBW SDBW\n0 37 43.85 2.69\n0.1 35 43.51 2.86\n0.5 43 40.04 3\n1.1 42 35.09 2.56\n"
	},
    {"id":42, "model_app_name":"probit",
	"dfile":"Probit\nBMDS MODEL RUN\nProbit.(D)\nProbit.OUT\n4\n250 2.22045e-16 1.49012e-8 1 0 0 1 1 0\n0.10 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	},
    {"id":43, "model_app_name":"raivr",
	"dfile":"Rai_and_Van_Ryzin\nBMDS MODEL RUN\nRaiVR.(D)\nRaiVR.OUT\n39 4\n500 1.00E-08 1.00E-08 0 1 1 0 0 0\n0.1000 0 0.95 1000 0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\n0\n-9999 -9999 -9999 -9999 -9999\n-9999 -9999 -9999 -9999\nDose Resp Negative_Resp Covariate Dose_Group\n0 1 15 16 -9999\n0 1 8 9 -9999\n0 2 13 15 -9999\n0 3 11 14 -9999\n0 3 10 13 -9999\n0 0 9 9 -9999\n0 2 8 10 -9999\n0 2 12 14 -9999\n0 1 9 10 -9999\n0 2 9 11 -9999\n25 4 10 14 -9999\n25 5 4 9 -9999\n25 6 8 14 -9999\n25 2 7 9 -9999\n25 6 7 13 -9999\n25 3 9 12 -9999\n25 1 9 10 -9999\n25 2 8 10 -9999\n25 4 7 11 -9999\n25 3 11 14 -9999\n50 4 7 11 -9999\n50 5 6 11 -9999\n50 5 9 14 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 4 7 11 -9999\n50 5 5 10 -9999\n50 6 9 15 -9999\n50 2 5 7 -9999\n50 4 10 14 -9999\n100 6 5 11 -9999\n100 6 8 14 -9999\n100 8 4 12 -9999\n100 7 6 13 -9999\n100 8 4 12 -9999\n100 6 8 14 -9999\n100 6 5 11 -9999\n100 5 3 8 -9999\n100 4 6 10 -9999\n"
	},
    {"id":44, "model_app_name":"probit",
	"dfile":"Probit\nBMDS MODEL RUN\nProbit.(D)\nProbit.OUT\n4\n250 2.22045e-16 1.49012e-8 1 0 0 1 1 0\n0.10 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	},
    {"id":45, "model_app_name":"weibull",
	"dfile":"Weibull\nReal Weibull\nWeibull-Di.(D)\nWeibull-Di.OUT\n4\n250 2.22045e-16 1.49012e-8 1 1 1 1 0\n0.10 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	},
    {"id":46, "model_app_name":"weibull_bg_response",
	"dfile":"Weibull_bg_response\nBMDS_MODEL_RUN\nWeibull_bg_dose.(D)\nWeibull_bg_dose.OUT\n5\n500 1.00E-08 1.00E-08 0 1 1 0 0\n0.1000 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Effect NEGATIVE_RESPONSE\n0 0 100\n50 5 95\n100 30 70\n150 65 35\n200 90 10\n"
	},
    {"id":47, "model_app_name":"weibull",
	"dfile":"Weibull\nQuantal Linear\nWeibull.(D)\nWeibull.OUT\n4\n250 2.22045e-16 1.49012e-8 1 1 1 1 0\n0.10 0 0.95\n-9999 -9999 1\n0\n-9999 -9999 -9999\nDose Resp NEGATIVE_RESPONSE\n0 3 47\n50 6 44\n100 10 40\n150 19 31\n"
	}
]
}


$("#BMDS_run_diverge").click(function(e){
	seconds_elapse();
	$.ajax({url: "http://ec2-52-24-231-219.us-west-2.compute.amazonaws.com/BMDS_execution.php", 
		data: {data: JSON.stringify(submittion_str)},
		// data: 'application/x-www-form-urlencoded; charset=UTF-8', //submittion, 		// Data to send.
		contentType: "text/plain",
		method: "POST",
		// dataType: "application/json",	// The data type to receive. datatype : "application/json",
		cache: false, // The browser not to store content
 		
    	
		success: function(data){
			clearTimeout(seconds_100);
			$("#show_content").html("Received data: <br>.." + data + ".. <br>..");
			
			var obj = JSON.parse(data);
			
			$("#show_content").html('json conversion works. <br><br><br>' + data + '<br>' + 
				obj[0].model_app_name);
			$("#show_content").html('json conversion works 2. <br><br><br>' + data + '<br>"<pre>"' + 
				obj[4].OUT_file_str);
			// var id_content_arr = obj.models[0].id_content.
			
			// $("#show_content").html('Great, obj.models.toString(): <br>' + id_content_arr);
			$("#show_content").html('Great, Values extracted from returned jSon string: ' +
				// "<br> This should work: "+ Object.getOwnPropertyNames(obj.models[0].id_content(0)) ); //+
				"<br>Results for one of the models<br><br>" + 
				"id: " + obj[4].id.toString() +"<br>" +
				"Model name: " + obj[4].model_app_name.toString() +"<br>" +
				"<br>Result file: <pre>" + obj[4].OUT_file_str.toString() +"<pre>" +
				"<br>Base64 encoded .emf file string: <br>" + 
				atob(obj[4].base64_emf_str.toString()));		// atob() for decoding base64.
    	}
	});
})

}
)


var i = 0;
var seconds_100;

function seconds_elapse(){
	$("#show_content").html("<br>This process usually takes about 10 seconds. The start ime is: <br><br>" + 
		"Time: <font size='6' color='blue' face='verdana'><b> &nbsp&nbsp" + i + "&nbsp&nbsp</font></b>   Seconds.");
	i = i + 1;
	if (i > 100){
		$("#show_content").html("Error, please try to reload, or report the problem.");
	}
	seconds_100 = setTimeout("display_time()",1000);
}

function display_time() {
	seconds_elapse()
}

allowCrossDomain = function(req, res, next) {
  res.header('Access-Control-Allow-Origin', '*');
  res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE,OPTIONS');
  res.header('Access-Control-Allow-Headers', 'Content-Type, Authorization, Content-Length, X-Requested-With');
  if ('OPTIONS' === req.method) {
    res.send(200);
  } else {
    next();
  }
};


</script>





















      <!-- RUN BMDS -->
      <div id="BMDS" class="form-actions">
        <h3>Run BMDS</h3>
        .
        <button id="BMDS_run" class="btn btn-large btn-primary">Run BMDS</button>
        <button id="BMDS_reset" class="btn btn-info" >Reset to default settings</button>
        <br><br>
      </div>
      <br><br><br>

      <!-- BMDS Options form (hidden popup) -->
      <div id="bmd_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_settings_label"></h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class='row-fluid'>
              <fieldset class='span6'>
                <legend>Model Assignments</legend>
                <div id='bmd_settings_other'>
                </div>
              </fieldset>
              <fieldset class='span6'>
                <legend>Optimizer Assignments</legend>
                <div id='bmd_settings_optimizer'>
                </div>
              </fieldset>
            </div>
            <div class='row-fluid'>
              <fieldset>
                <legend>Parameter Assignments</legend>
                <div id='bmd_settings_parameters'>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
              <button id='bmd_settings_default' class='btn'>Restore Defaults</button>
              <button id='bmd_settings_delete' type='button' class='btn'  data-dismiss="modal">Delete</button>
            </div>
            <button id='bmd_settings_save' type='button' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

      <!-- BMR settings form (hidden popup) -->
      <div id="bmr_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmr_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmr_settings_label">BMDS {{bmds_version}}: BMR</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_type">BMR Type</label>
                <div class="controls">
                  <select id="bmr_type">
                    <option>Extra</option>
                    <option>Added</option>
                  </select>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_value">BMR Value</label>
                <div class="controls">
                  <input id="bmr_value"></input>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_confidence_level">BMR Confidence Level</label>
                <div class="controls">
                  <input id="bmr_confidence_level"></input>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
            <button id='bmr_settings_delete' class='btn' data-dismiss="modal">Delete</button>
            <button id='bmr_settings_save' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

    </div>

    <!-- BMD results -->
    <div id="bmd_results" class="tab-pane">

      <!-- Summary-table and plot -->
      <div class="row-fluid">

        <div class='span7'>
          <table id="bmd_output_tbl" class="table table-condensed">
            <thead>
            </thead>
            <tfoot>
              <tr>
                <td colspan=10>Selected model highlighted in yellow</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>
        </div>

        <div id='bmd_output_plot' class='d3_container span4'>
        </div>
      </div>

      <!-- BMDS Output form -->
      <div id="bmd_raw_output" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_raw_output_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_raw_output_label">Multistage Output</h3>
        </div>
        <div class="modal-body">
          <div id="raw_output_img" class="d3_container"></div>
          <pre id="raw_output_text" ></pre>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>

    <div class="tab-pane" id="bmd_logic">

      <div id='recommendation_tbl_div'></div>

      <div id='override_div' class='row-fluid' style='display:none;'>
        <form id="endpoint" class="form-horizontal" action="#">
          <fieldset >
            <div class="control-group form-row">
              <label for="override_model_description" class="control-label">Selected model</label>
              <div class="controls">
                <p id="override_model_description"></p>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_status" class="control-label">Override-bin</label>
              <div class="controls">
                <select id="override_status">
                  <option value="99">N/A (do not override)</option>
                  <option value="0">Viable</option>
                  <option value="1">Questionable</option>
                  <option value="2">Unusable</option>
                </select>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_notes" class="control-label">Notes</label>
              <div class="controls">
                <textarea id="override_notes" rows="5" cols="40" name="citation"></textarea>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

    </div>

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}bmd/js/modeling_orm.js" type="text/javascript"></script>
  <script type="text/javascript">
  
    var bmds_version = '{{bmds_version}}';
    //var endpoint = new Endpoint({{endpoint.d_response|safe}});
	// alert ("Hello 3");
	// alert("parent_template_name" + {{name}});
	var endpoint = new Endpoint({{endpoint.d_response|safe}});		//LD modified
	// alert ("Hello 4"+ '{{endpoint.d_response|safe}}');
	// alert ("Hello 4.5: "+ '{{name}}');
    var bmd_ds_plot = new DRPlot(endpoint, '#bmd_ds_plot');
    var bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
    var raw_output_img = new DRPlot(endpoint, '#raw_output_img');
    var crud = '{{ crud }}';
    var bmds_version = '{{bmds_version}}';
	var csrf_token = "{% csrf_token %}"
    var url_run_model = "{% url 'bmd:edit' endpoint.pk %}",
        url_options = "{% url 'bmd:options' bmds_version endpoint.data_type %}",
        url_template = "{% url 'bmd:template' endpoint.pk %}";
    var logics = {{logics|safe}};
    {% if crud == 'Edit' %}
      var session = new Session({{session|safe}}, endpoint, logics, crud, bmds_version);
    {% else %}
      var session = new Session({{template|safe}}, endpoint, logics, crud, bmds_version);
    {% endif %}

    $('a[href="#bmd_results"]').on('shown', function(e){
      // hack to get this to wait tab is loaded
      setTimeout(function(){
        bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
        session.selection.rebuild_plot();
      }, 100)
    });
	// alert("alert at the end ??");
  </script>
  <script src="{{STATIC_URL}}bmd/js/modeling.js" type="text/javascript"></script>
{% endblock %}
