<!--
The purpose of this file is to collect user input for BMDS.
Data flow:
After the data collected it was send to ./project/static/bmd/js/modeling.js.
And modeling.js submitted with $.post.

Some of the variables are provided by .\project\bmd\views.py
===========================
    During the communication between the HAWC web site and a Windows server, multiple models can be sent at the same time.
In the current testing event, two models were sent to the windows server at Amazon Web Services, and the model .(D) files were sent in Json serial text. $.ajax() function of jQuery was used to submit. In contrast to $.post() function, $ajax() has more control, e.g. submitting and receiving data type.
	After the Windows server received the post, some characters in the json text serial was modified, e.g. double quotation (“) was changed to %22, and ({) was changed to %7B. A PHP function was created to change the characters back. The json text serial is then converted into PHP array. The .(D) file was saved to a file. More than one .(D) files could be sent in one post, therefore, each .(D) file are saved with different file names. A serial number is generated and saved on the Windows server, so the file name will look like dfile-25.(d), and the numeric portion will range from 0 – 1000. PHP program will execute a shell command to run BMDS. All the .(D) files and the resulting files (.OUT files) are kept in ./Temp_BMDS_files/ folder, and they will be deleted when it is more than 24 hours old in current setting.
	The resulting files are all in the same folder as the .(D) file in ./Temp_BMDS_files/ folder. These files are sent back to HAWC site in json format, which is decoded in JavaScript with the function var obj = JSON.parse(data). The results of decoding is now a JavaScript array, and the .OUT file can be accessed in commands similar to obj.models[0].output_text.toString().
    In order for $.ajax() post to work, Cross-Site Request Forgery (CSRF) affect post function. 
The setup of CSRF is in ./project/static/js/hawc.js lines 294-322. 

	Similarly, a line in remote PHP file is required to allow post access in Amazon Web Services:
header("Access-Control-Allow-Origin: *");
    For HAWC site, the changes are embedded in the ./project/templates/bmd/bmd_session_form.html, and /Local_PC_testing_files/Susan_helped_POST.html is for POST testing. The Windows server file is /Windows_server/BMDS_execution.php.  


-->



{% extends 'portal.html' %}


{% block title %}
  {{assessment}} | {{endpoint.study}} | {{endpoint}} | Edit BMD Modeling | HAWC
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $("p").hide();
    });
});
</script>

{% endblock %}


{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'study:detail' endpoint.animal_group.experiment.study.pk %}">{{endpoint.animal_group.experiment.study}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:experiment_detail' endpoint.animal_group.experiment.pk %}">{{endpoint.animal_group.experiment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:animal_group_detail' endpoint.animal_group.pk %}">{{endpoint.animal_group}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'animal:endpoint_detail' endpoint.pk %}">{{endpoint}}</a><span class="divider">/</span></li>
    {% if endpoint.bmds_session_exists %}
    <li><a href="{% url 'bmd:read' endpoint.pk %}">BMD Modeling</a><span class="divider">/</span></li>
    <li class="active">Edit<span class="divider">/</span></li>
  {% else %}
    <li class="active">BMD Modeling Create<span class="divider">/</span></li>
  {% endif %}
{% endblock %}



{% block content %}


  {% if crud == 'Edit' %}
    <div id="warnings">
      {% if endpoint.last_updated >= object.last_updated %}
        <div class="alert alert-danger ">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Warning!</h4>
          Endpoint content has been changed since the BMD session was last completed. Please review BMD model selections and re-save to remove this message.
        </div>
      {% endif %}
    <div>
  {% endif %}







  <!-- Tabs at the top -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#bmd_setup">BMD Setup</a></li>
    <li><a id="bmd_results_tab" href="#bmd_results">Modeling Results</a></li>
    <li><a id="bmd_logic_tab" href="#bmd_logic">Recommendations</a></li>
  </ul>

  <!-- Tabbed content-area -->
  <div class="tab-content">

    <!-- BMD setup -->
    <div id="bmd_setup" class="tab-pane active">

      <h3>Dose-Response Details</h3>
      <div class="row-fluid">

        <div id="bmd_ds" class="span7">
          <table id="bmd_dr_tbl" class="table table-condensed table-striped">
          </table>
        </div>

        <div id='bmd_ds_plot' class="d3_container span4">
        </div>
      </div>

      <h3>BMDS Modeling Setup</h3>
      <p><i>HAWC BMDS version {{bmds_version}}</i></p>
      <div id="bmd_setup_div" class="row-fluid">

        <div id="bmd_setup_div_opt" class="span6">
          <h4>Model Options</h4>

          <table id="bmd_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th width="30%">Model Name</th>
                <th width="60%">Non-Default Settings</th>
                <th width="10%">Modify</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New Option File</label>
                <div class="controls">
                  <select id="bmds_options_select"></select>
                  <a class="btn" href="#" id="bmds_options_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>
          {% if endpoint.data_type = "C"%}<a id='variance_toggle' class='btn btn-small' title='Change the variance model for all continuous models' href='#'>Toggle all Variance Models</a>{% endif %}
        </div>

        <div id="bmd_setup_div_bmr" class="span6">
          <h4>BMRs to Model</h4>
          <table id="bmr_setup_tbl" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Value</th>
                <th>Confidence Level</th>
                <th width="10%">Modify</th>
              </tr>
            <thead>
            <tfoot>
              <tr>
                <td colspan=5>All models will be run using the selected BMRs if appropriate for that particular model type.</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>

          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_select">New BMR</label>
                <div class="controls">
                  <select id="bmr_select"></select>
                  <a class="btn" href="#" id="bmr_new"><i class="icon-plus"></i></a>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>



  <br>Here is from Python: {{Test}} 
{{bmds_version}}


<!-- RUN BMDS in remote server -->
<form class="form-horizontal" name="Data-to-BMDS" action="http://52.24.231.219/BMDS_receivings.php" method="POST">
          
          <input type="hidden" name="Data-to-BMDS_post" value="LogLogistic
BMDS_Model_Run
test
output.out
5
250 1e-08 1e-08 0 1 1 1 0 0
0.1 0 0.95
-9999 -9999 -9999
0
-9999 -9999 -9999
Dose Incidence NEGATIVE_RESPONSE
0.000000 0 20
50.000000 0 20
150.000000 3 17
250.000000 6 14
350.000000 6 14"/>
   
   
   <button id="BMDS_run_diverge" class="btn btn-large btn-primary">Test Run BMDS</button>
</form>

<div id="show_content"></div>

<button id="BMDS_run_diverge_2" class="btn btn-large btn-primary">Test Run BMDS 2</button>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){


var submittion_str = {
    "models": [
        {   
            "id": 31,
            "model_name": "LogLogistic",
            "dfile": "LogLogistic\nBMDS_Model_Run\ntest\noutput.out\n5\n250 1e-08 1e-08 0 1 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 0 20\n50.000000 0 20\n150.000000 3 17\n250.000000 6 14\n350.000000 6 14\n"
        },
        {   
            "id": 32,
            "model_name": "LogLogistic",
            "dfile": "LogLogistic\nBMDS_Model_Run\ntest\noutput.out\n5\n250 1e-08 1e-08 0 1 1 1 0 0\n0.1 0 0.95\n-9999 -9999 -9999\n0\n-9999 -9999 -9999\nDose Incidence NEGATIVE_RESPONSE\n0.000000 0 20\n50.000000 0 20\n150.000000 3 17\n250.000000 6 14\n350.000000 6 14\n"
        }
    ]
}





$("#BMDS_run_diverge_2").click(function(e){
	// alert("Clicked");
	// app.use(allowCrossDomain);
	$.ajax({url: "http://52.24.231.219/BMDS_execution.php", 
		data: {data: JSON.stringify(submittion_str)},
		// data: 'application/x-www-form-urlencoded; charset=UTF-8', //submittion, 		// Data to send.
		contentType: "text/plain",
		method: "POST",
		// dataType: "json",	// The data type to receive. datatype : "application/json",
		cache: false, // The browser not to store content
 		
    	
		success: function(data){
			// alert("success.1"+ data);
			var All_BMDS_result_text = "";
			var obj = JSON.parse(data);
			var n = 0;
			for (n in obj.models) {
				if (obj.models[n].id){
				// alert('typeof n: ' + typeof n);
				// alert("n: "+ n + ', Number.isSafeInteger(n): ' + Number.isSafeInteger(n));
				// alert ('obj.models[n].id.toString(): '+ obj.models[n].id.toString());
				
				All_BMDS_result_text += "<br> Model Results From The BMDS Windows Server <br> " //+
					+ "ID Number: " + obj.models[n].id.toString() + "<br>" 
					+ "Output file .OUT: <pre>" + 
					obj.models[n].output_text.toString() +"<pre>";
			}}
			$("#show_content").html(All_BMDS_result_text);
    	}
		
	}
	
	);
})

}
)

allowCrossDomain = function(req, res, next) {
  res.header('Access-Control-Allow-Origin', '*');
  res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE,OPTIONS');
  res.header('Access-Control-Allow-Headers', 'Content-Type, Authorization, Content-Length, X-Requested-With');
  if ('OPTIONS' === req.method) {
    res.send(200);
  } else {
    next();
  }
};


</script>





















      <!-- RUN BMDS -->
      <div id="BMDS" class="form-actions">
        <h3>Run BMDS</h3>
        .
        <button id="BMDS_run" class="btn btn-large btn-primary">Run BMDS</button>
        <button id="BMDS_reset" class="btn btn-info" >Reset to default settings</button>
        <br><br>
      </div>
      <br><br><br>

      <!-- BMDS Options form (hidden popup) -->
      <div id="bmd_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_settings_label"></h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class='row-fluid'>
              <fieldset class='span6'>
                <legend>Model Assignments</legend>
                <div id='bmd_settings_other'>
                </div>
              </fieldset>
              <fieldset class='span6'>
                <legend>Optimizer Assignments</legend>
                <div id='bmd_settings_optimizer'>
                </div>
              </fieldset>
            </div>
            <div class='row-fluid'>
              <fieldset>
                <legend>Parameter Assignments</legend>
                <div id='bmd_settings_parameters'>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
              <button id='bmd_settings_default' class='btn'>Restore Defaults</button>
              <button id='bmd_settings_delete' type='button' class='btn'  data-dismiss="modal">Delete</button>
            </div>
            <button id='bmd_settings_save' type='button' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

      <!-- BMR settings form (hidden popup) -->
      <div id="bmr_settings_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmr_settings_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmr_settings_label">BMDS {{bmds_version}}: BMR</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group form-row">
                <label class="control-label" for="bmr_type">BMR Type</label>
                <div class="controls">
                  <select id="bmr_type">
                    <option>Extra</option>
                    <option>Added</option>
                  </select>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_value">BMR Value</label>
                <div class="controls">
                  <input id="bmr_value"></input>
                </div>
              </div>

              <div class="control-group form-row">
                <label class="control-label" for="bmr_confidence_level">BMR Confidence Level</label>
                <div class="controls">
                  <input id="bmr_confidence_level"></input>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
            <button id='bmr_settings_delete' class='btn' data-dismiss="modal">Delete</button>
            <button id='bmr_settings_save' class='btn btn-primary'>Save and Close</button>
        </div>
      </div>

    </div>

    <!-- BMD results -->
    <div id="bmd_results" class="tab-pane">

      <!-- Summary-table and plot -->
      <div class="row-fluid">

        <div class='span7'>
          <table id="bmd_output_tbl" class="table table-condensed">
            <thead>
            </thead>
            <tfoot>
              <tr>
                <td colspan=10>Selected model highlighted in yellow</td>
              </tr>
            </tfoot>
            <tbody>
            </tbody>
          </table>
        </div>

        <div id='bmd_output_plot' class='d3_container span4'>
        </div>
      </div>

      <!-- BMDS Output form -->
      <div id="bmd_raw_output" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bmd_raw_output_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="bmd_raw_output_label">Multistage Output</h3>
        </div>
        <div class="modal-body">
          <div id="raw_output_img" class="d3_container"></div>
          <pre id="raw_output_text" ></pre>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>

    <div class="tab-pane" id="bmd_logic">

      <div id='recommendation_tbl_div'></div>

      <div id='override_div' class='row-fluid' style='display:none;'>
        <form id="endpoint" class="form-horizontal" action="#">
          <fieldset >
            <div class="control-group form-row">
              <label for="override_model_description" class="control-label">Selected model</label>
              <div class="controls">
                <p id="override_model_description"></p>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_status" class="control-label">Override-bin</label>
              <div class="controls">
                <select id="override_status">
                  <option value="99">N/A (do not override)</option>
                  <option value="0">Viable</option>
                  <option value="1">Questionable</option>
                  <option value="2">Unusable</option>
                </select>
              </div>
            </div>

            <div class="control-group form-row">
              <label for="override_notes" class="control-label">Notes</label>
              <div class="controls">
                <textarea id="override_notes" rows="5" cols="40" name="citation"></textarea>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

    </div>

{% endblock %}

{% block extrajs %}
  <script src="{{STATIC_URL}}bmd/js/modeling_orm.js" type="text/javascript"></script>
  <script type="text/javascript">
  
    var bmds_version = '{{bmds_version}}';
    //var endpoint = new Endpoint({{endpoint.d_response|safe}});
	// alert ("Hello 3");
	// alert("parent_template_name" + {{name}});
	var endpoint = new Endpoint({{endpoint.d_response|safe}});		//LD modified
	// alert ("Hello 4"+ '{{endpoint.d_response|safe}}');
	// alert ("Hello 4.5: "+ '{{name}}');
    var bmd_ds_plot = new DRPlot(endpoint, '#bmd_ds_plot');
    var bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
    var raw_output_img = new DRPlot(endpoint, '#raw_output_img');
    var crud = '{{ crud }}';
    var bmds_version = '{{bmds_version}}';
	var csrf_token = "{% csrf_token %}"
    var url_run_model = "{% url 'bmd:edit' endpoint.pk %}",
        url_options = "{% url 'bmd:options' bmds_version endpoint.data_type %}",
        url_template = "{% url 'bmd:template' endpoint.pk %}";
    var logics = {{logics|safe}};
    {% if crud == 'Edit' %}
      var session = new Session({{session|safe}}, endpoint, logics, crud, bmds_version);
    {% else %}
      var session = new Session({{template|safe}}, endpoint, logics, crud, bmds_version);
    {% endif %}

    $('a[href="#bmd_results"]').on('shown', function(e){
      // hack to get this to wait tab is loaded
      setTimeout(function(){
        bmd_output_plot = new DRPlot(endpoint, '#bmd_output_plot');
        session.selection.rebuild_plot();
      }, 100)
    });
	// alert("alert at the end ??");
  </script>
  <script src="{{STATIC_URL}}bmd/js/modeling.js" type="text/javascript"></script>
{% endblock %}
